[submodule "scripts/citymaptiles"]
	path = scripts/citymaptiles
	url = https://github.com/citymaphk/citymaptiles
[submodule "scripts/tiles/mbutil"]
	path = scripts/tiles/mbutil
	url = https://github.com/mapbox/mbutil.git
[submodule "scripts/tiles/citymaptiles"]
	path = scripts/tiles/citymaptiles
	url = https://github.com/citymaphk/citymaptiles
